
<% provide(:title, 'Activities_and_Volunteer') %>



<div class="center hero-unit">
  <div class="inline_center">

   <div class="all-div-box activities_overview_box">

      
       
       
    
      <div class="div-texts activitity_overview_text">
        <h4>GET INVOLVED TODAY! BECOME A ROLE MODEL!</h4>
       
          <p> Help empower YOUNG AFRICANS, get involved and make a difference <br>  bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb <br>bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb <br>bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb <br>bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb <br>bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb <br>bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb <br>bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb <br>bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb <br>
         </p>
      </div>  


      <div class="inside_div_pic activitity_overview_pic">
        <%= image_tag("jor.jpg", alt: "africans", :id => "auto_resizeimage") %>
      </div>
   </div>

   <div class="headline">
  <h1> <%= link_to "HOME << ", root_path %><%= link_to "About << ", about_path %>ACTIVITIES</h1>
</div>


    <div class="all-div-box other_way_to_donate_box">

       <h4>Other Ways To Help Us</h4>
       <hr class="vertical"/>
      
       <p>
        Mail a check or money order <br>
        Or by Dropyng off to this address:<br>
        xxx st, city, country, xxxxx <br>

        <hr class="vertical"/>
        Phone: xxx xxxx xxx<br>

       <br> <hr class="vertical"/>
        By cliking this <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHXwYJKoZIhvcNAQcEoIIHUDCCB0wCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCIE8tUed9VCTk8SgMUdIrByimYgNrqnHgMjjQGFFy5Qyc1MbE0V0ICgjTbbkeaDzFU2TrZw5a7RPUjal2kI01B70l5Qr94oMNamY96HxPTgoIzr77rinjt9myG4jJ/K/cffzb2QoIeavANkkWtu+NG2m/GRI2zVLSgIpeSeJYpOzELMAkGBSsOAwIaBQAwgdwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIoHN3pgG6yP+AgbjDc/Q+ivhmu09bR4Aq3yKPSZGlBovUEAWuaLLwWOrjHuGj4spDIkYX7mSC+bHLzv1j1QX57ukyAMEQaHrd9qVjxUatqFSFTJIJmqpp3xvvqwg5fwJRNZRtpbvw1pYV3gDOAwgsq5QzeL+RGto7qdoDoRZwH8t60IoZGv2fbGRtfZp4quP8KBxphMBPcldgf68hzgDFA1fSr54gp/Q10EegRlp+IBn2wJssDEIzwE0C1mgAJij739rEoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTMxMTAxMjEwODMwWjAjBgkqhkiG9w0BCQQxFgQUiaVeyivT7cqs/YvnV+Et9AbxW6swDQYJKoZIhvcNAQEBBQAEgYBytj/G6b4dkaSl1MFfZ7qjGeXQ/IhKxiZlFYYAXmZb6XhZqtHX8ZKZawXK+ESgW5FyL7rzsFdozADOKwkvbSZs6pZX2Jj/6/xlELsSt2bTurQ2JayUsYU2D/YfYQQcFld/mjQGP4P0BrxNaAjGsqnNTSuebPPjup+72Tji1DVpWA==-----END PKCS7-----">

         <input class="btn btn-large btn-primary" name="commit" type="submit"
              value="Donate" alt="PayPal - The safer, easier way to pay online!">
         <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
             
         </form> 
       </p> 
    </div>

    <div class="group_box">

      <div class="all-div-box  each_group group_voluntary_element_box">

       <h4>BECOME A VOLUNTEER</h4>
       
      
       <p>
         By becoming a volunteer,
         you are really helping us with
         blablabla blablablablablabla
         blablabla blablabla blablabla
         blablabla blablabla blablabla
         blablabla blablabla blablabla
         blablabla blablabla blablabla
         blablabla blablabla blablabla
         blablabla blablabla blablabla
         blablabla blablabla
         <h4><%= link_to "ClICK HERE TO GET STARTED",  new_path %><h4>
       </p> 
      </div>

     
      <div class="all-div-box each_group group_event_element_box">

       <h4>COME TO OUR EVENT</h4>
       
      
       <p>
         comming to one of our  events,
         is the one the key of understand 
         our goals blablabla blablablab
         blablabla blablabla blablabla
         blablabla blablabla blablabla
         blablabla blablabla blablabla
         blablabla blablabla blablabla
         blablabla blablabla blablabla
         blablabla blablabla blablabla
         <h4><%= link_to "LEARN MORE >>",  newsandevents_path %><h4>
       </p> 
      </div>

    </div>
    <div class="each_group_bottom">

    <div class="all-div-box each_group group_story_element_box">

        <div class="inside_div_pic image_for_box group_story_element_pic">
        <%= image_tag("AfricanChildrensChoir.jpg", alt: "africans", :id => "auto_resizeimage")  %>
       </div>

       <h4>SUCCESSFUL STORIES</h4>
       
       
       <p>
         MRS BLABLA was a student and,
         he was not able to blabla, so  
         we blablabla blablablab bla bla
         blablabla blablabla blablabla
         blablabla blablabla blablabla
         blablabla blablabla blablabla
         blablabla blablabla blablabla
         blablabla blablabla blablabla
         blablabla blablabla blablabla
         blablabla blablabla <%= link_to "READ MORE >>",  stories_path %>
         
       </p> 
      </div>

      <div class="all-div-box each_group group_projects_element_box">
        <div class="inside_div_pic image_for_box group_project_element_pic">
        <%= image_tag("cental.jpg", alt: "africans", :id => "auto_resizeimage") %>
       </div>

       <h4>OUR CURRENT PROJECTS</h4>
       
      
       <p>
         Please take a look at our most
         recent projects that, we are 
         currently dealiing with its also  
         include how we manage the donations
         donation we are receiving. and
         blablabla blablabla blablabla
         blablabla blablabla blablabla
         blablabla blablabla blablabla
         blablabla blablabla blablabla
         <%= link_to "LEARN MORE >>",  project1_path %>
        </p> 
      </div>
    </div> 




    <div style="clear: left; margin-bottom: 1em"></div>
 
 
      	
  </div>

</div>












<!--<div class="center hero-unit">
	<div class="actiheadline"> 
	<h1> Our Current Projects</h1>
    </div>
   
    <div class="projectbox1">  	
   	   <h3><%= link_to "Project 1", '#'%></h3>
    </div>

    <div class="projectbox2">
    	<h3><%= link_to "Project 2", '#'%></h3>
    </div>

    <div class="projectbox3">
    	<h3><%= link_to "Project 3", '#'%></h3>
    </div>

    <div class="projectbox4"> 
    	<h3><%= link_to "Project 4", '#'%></h3>
    </div>

</div>
-->