<% provide(:title, 'Contact') %>
<div class="center hero-unit">

  <div class="headline">
  <h1> <%= link_to "HOME<<", root_path %> <%= link_to "About<<", about_path %><%= link_to "Activities<<", activitiesandvolunteer_path %>Contact</h1>
</div>
 
 
  

      
    
        
 <div class="inside_div_pic contact_img">
        <%= image_tag("li_scaled_profile_picture.jpg", alt: "africans", :id => "auto_resizeimage") %>
      </div>
      <table id="contact_tables"> 
        <col  width: 50em" />
        <caption>Organizers</caption>
         
        

        <tr class="whitespace"> 
          <td class="leftelement"> Name:</td> 
          <td class="rightelement">Mamadou Dembele</td> 
        </tr> 

        <tr class="whitespace"> 
          <td class="leftelement">Email:</td> 
          <td class="rightelement">mmddembele@yahoo.com</td> 
        </tr>

        <tr class="whitespace"> 
          <td class="leftelement">Phone:</td> 
          <td class="rightelement">1 (240) 593 4462</td> 
        </tr>

        <tr class="whitespace">
          <td class="leftelement">Title:</td> 
          <td class="rightelement">CO-FOUNDER</td> 
        </tr>
        

      </table>


      
<div class="inside_div_pic contact_img">
        <%= image_tag("alama.png", alt: "IT", :id => "auto_resizeimage") %>
      </div>
     
      <table id="contact_tables"> 

       <caption>IT DEPARTEMENT</caption>
        

        <tr class="whitespace">
          <td class="leftelement">Email:</td> 
          <td class="rightelement">alama.tounkara@gmail.com</td> 
        </tr>

        <tr class="whitespace"> 
          <td class="leftelement">Phone:</td> 
          <td class="rightelement">1 (646) 750 7785</td> 
        </tr>      

      </table>
</div>


      
    