<% provide(:title, 'Home') %>

 
<div class="center hero-unit">
  <div class="inline_center">

		
		<div class="slidepic">

      		<%= image_tag("slideshow/habiraiscoco.jpg", alt: "crying", :id => "auto_resizeimage") %>
			<h3>EMPOWEREMENT PROGRAM FOR YOUNG AFRICANS<br>
				THE NATIONS DEPEND ON THEM</h3><br>
			<h5>THEY NEED TO BE EMPOWERED FOR THE BEST OF THE FUTURE AFRICA</h5>
			</h3>

		</div>


		<div class="all-div-box how_could_help">
			<div class="head">
				<h4>HOW COULD YOU HELP? </h4>
			</div>
		
			<div class="div-texts how_could_text">
				<p>abababbababababababbababbabababababababababababaa<br>abababbababababababbababbabababababababababababaa<br>	abababbababababababbababbabababababababababababaa<br>abababbababababababbababbabababababababababababaa<br>	abababbababababababbababbabababababababababababaa<br>abababbababababababbababbabababababababababababaa<br>abababbababababababbababbabababababababababababaa<br>abababbababababababbababbabababababababababababaa<br>
				abababbababababababbababbabababababababababababaa<br>
				</P>
			</div>	

			<div class="inside_div_pic how_could_they_pic">
			 <%=  image_tag("Africa_children_DRC.jpg", alt: "africans", :id => "auto_resizeimage") %>
			</div>
		</div>


	
	<div class="all-div-box donate">
		<div class="head"><h4>PLEASE HELP US</h4></div>

		
		<p>
			please help us keep young Africans empowered.
		    every action counts.please help us keep young Africans empowered.
			every action counts.please help us keep young Africans empowered.
		</p>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHXwYJKoZIhvcNAQcEoIIHUDCCB0wCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCIE8tUed9VCTk8SgMUdIrByimYgNrqnHgMjjQGFFy5Qyc1MbE0V0ICgjTbbkeaDzFU2TrZw5a7RPUjal2kI01B70l5Qr94oMNamY96HxPTgoIzr77rinjt9myG4jJ/K/cffzb2QoIeavANkkWtu+NG2m/GRI2zVLSgIpeSeJYpOzELMAkGBSsOAwIaBQAwgdwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIoHN3pgG6yP+AgbjDc/Q+ivhmu09bR4Aq3yKPSZGlBovUEAWuaLLwWOrjHuGj4spDIkYX7mSC+bHLzv1j1QX57ukyAMEQaHrd9qVjxUatqFSFTJIJmqpp3xvvqwg5fwJRNZRtpbvw1pYV3gDOAwgsq5QzeL+RGto7qdoDoRZwH8t60IoZGv2fbGRtfZp4quP8KBxphMBPcldgf68hzgDFA1fSr54gp/Q10EegRlp+IBn2wJssDEIzwE0C1mgAJij739rEoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTMxMTAxMjEwODMwWjAjBgkqhkiG9w0BCQQxFgQUiaVeyivT7cqs/YvnV+Et9AbxW6swDQYJKoZIhvcNAQEBBQAEgYBytj/G6b4dkaSl1MFfZ7qjGeXQ/IhKxiZlFYYAXmZb6XhZqtHX8ZKZawXK+ESgW5FyL7rzsFdozADOKwkvbSZs6pZX2Jj/6/xlELsSt2bTurQ2JayUsYU2D/YfYQQcFld/mjQGP4P0BrxNaAjGsqnNTSuebPPjup+72Tji1DVpWA==-----END PKCS7-----">

			<input class="btn btn-large btn-primary" name="commit" type="submit"
			         value="Donate Now" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>

	</div>

	<div class="all-div-box mission">
			<div class="head"><h4>OUR MISSIONS</h4></div>

		<div class="inside_div_pic right_mission_pic">
		 	<%= image_tag("beautiful-africa.jpg", alt: "africans", :id => "auto_resizeimage") %>
		</div>
		
		<div class="div_texts mission_text">
			<p>
				abababbababababababbababbabababababababababababaaaaaaaaaaa <br>		abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>
	   			abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>
	   	 	 	abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>
	   		</P>	   		
		</div>	

		
		<div class="inside_div_pic left_mission_pic">
			 <%= image_tag("beautiful-africa-left.jpg", alt: "africans", :id => "auto_resizeimage")%>
		</div>

	</div>


	
    <div class="all-div-box news">
		<div class="head"><h4>NEWS</h4></div>

	  	<div id="home_project1">
		  <%= link_to image_tag("slideshow/water-crisis-is-looming-2abc9w9.jpg", alt: "project1", :id => "auto_resizeimage"), project1_path %>
		   new1 is based on our project about blablabla
		  blablabla...<%= link_to "learn more",  project1_path %>
		</div>
		
	

	  	<div id="home_project2">
		  <%= link_to image_tag("slideshow/mg4.gif", alt: "project2", :id => "auto_resizeimage"), project2_path  %>
	  	 new2 is based on our project about blablabla
		  blablabla...<%= link_to "learn more",  project2_path %>
	  	 <hr class="vertical"/>
	  	</div>
	  	

	    <div id="home_project3">
		  <%= link_to image_tag("slideshow/4d6e9154a00cf.image.jpg", alt: "project3", :id => "auto_resizeimage"), project3_path  %>
		  new3 is based on our project about blablabla
		  blablabla...<%= link_to "learn more",  project3_path %>
		<hr class="vertical"/>
		</div>
		
		

	    <div id="home_project4">
		  <%= link_to image_tag("slideshow/0126-IVORY_full_600.jpg", alt: "project4", :id => "auto_resizeimage"), project4_path  %>
	     new4 is based on our project about blablabla
		  blablabla...<%= link_to "learn more",  project4_path %>
	     <hr class="vertical"/>
	    </div>
	   

	    <div id="home_project5">
 		 <%= link_to image_tag("slideshow/1.png", alt: "project5", :id => "auto_resizeimage"), project5_path %>
		  new5 is based on our project about blablabla
		  blablabla...<%= link_to "learn more",  project5_path %>
		 <hr class="vertical"/>
		</div>

		

		<div id="upcoming_event">
			<hr class="horizontal"/>
			<h4><%= link_to "UPCOMING EVENTS",  newsandevents_path %></h4>
			<P> 
			  our next event is xx/xx/xx the adresss is xxxx street,city, country, 111111
		      the personne to contact is MRS BLABLA and his Pnone number is xxx xxxx xxx
		      it is basically focused on blablabla blablabla blablabla blablabla blablabla
		    </P>
 		 
		</div>

	</div>	

			

   

	

	
	

	<div style="clear: left; margin-bottom: 1em"></div>
 
  </div>


</div>








