<% provide(:title, 'Volntary') %>

<div class="center hero-unit">
  <div class="inline_center">

		<div class="slidepic volunatary_top_pic">

      		<%= image_tag("volunteer1111.jpg", alt: "volunteer", :id => "auto_resizeimage") %>
			<h3>BECOME A ROLE MODEL TODAY<br>
				AND LEAVE YOUR LEGACY IN THE WORLD
			</h3>
		</div>

		<br><h4 id="header_voluntary">VOLUNTARY PROGRAM</h4>


   <div class="story_column voluntary_left_column">

   		<div class="group_story_element_box">

       		<div class="inside_div_pic image_for_box voluntary_left_pic">
        		<%= image_tag("microsoft_for_african_students.jpg", alt: "africans", :id => "auto_resizeimage")  %>
       		</div>
       		<div class="inside_div_pic image_for_box voluntary_right_pic">
        		<%= image_tag("join-us.jpeg", alt: "africans", :id => "auto_resizeimage")  %>
       		</div>
          
       		<p>
		         Volunteers are the key  
		         to our program. you are   
		         welcome to contact us for
		         any inquiring blablabla bla
		         blablabla blablabla blablabl
		         blablabla blablabla blablabl
		         blablabla blablabla blablabl
		         blablabla blablabla blablabl
		         blablabla blablabla blablabl
		         blablabla blablabla blablab

		         BLABLA was a student 
		         he was not able to blabla,so  
		         we blablabla blablablab bla 
		         blablabla blablabla blablabl
		         blablabla blablabla blablabl
		         blablabla blablabla blablab
		         blablabla blablabla blablab
		         blablabla blablabla blablab
		         blablabla blablabla blabl
		         he was not able to blabla,so       
      		</p> 
      	
      </div>
    </div> 


    <div class="story_column colom_left right_colum">

   		<div class=" group_story_element_box">

       		<div class="all-div-box for_school_admin">
				<div class="head">
					<h4>FOR SCHOOL ADMINISTRATORS </h4>
				</div>
		
			
				<p>for school administrators, feel free to contact us for any inquiries. You can either fill out the bellow or by  by calling this number xxx xxxx xxx. Or by sending an email to example@gmail.com.	
				Also feel free to visit our <%= link_to "Contact",  contact_path %> page for more info. Thanks for your time.
				</P>
				

			</div>

			<div class="all-div-box for_others_volunteers">
				<div class="head">
					<h4>FOR ANY OTHER PERSON </h4>
				</div>
		
			
				<p> Voluntaring is good path to employement. it will lead you to gain more experience in any domain you like.
					feel free to visit our <%= link_to "Contact",  contact_path %> page for more info. Or fill out the form bellow for by being specific about your inquiry.
				</P>
				

			</div>
      </div>
    </div> 



    <div class="story_column voluntary_left_column voluntary_group">

   		<div class="group_story_element_box">

       		      
	      	<h4>VOLUNTARY GROUP</h4>
	      	<p>School credit blablal blablal blablal blablal blablal blablal blablal
	      	<p>future employement blablal blablal blablal blablal blablal blablal</p>
	      	<p>future employement blablal blablal blablal blablal blablal blablal</p><p>future employement blablal blablal blablal blablal blablal blablal</p><p>future employement blablal blablal blablal blablal blablal blablal</p><p>future employement blablal blablal blablal blablal blablal blablal</p><p>future employement blablal blablal blablal blablal blablal blablal</p><p>future employement blablal blablal blablal blablal blablal blablal</p>
    	</div>

    	<p>Please fill out the form below and we'll get back to you shortly</p>
    </div> 
    

<%= render 'form', :inquiry => @inquiry %>


</div>
</div>