<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "EPYA", root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home",   root_path %></li>
              <li><%= link_to "About Us", about_path %></li>
              <li><%= link_to "Activities and Volunteers", activitiesandvolunteer_path %>
                <ul>
                 <li><a href="join_us">Stay Connected</a></li>
                 <li><a href="project1">Current Projects</a></li>
                 <li><a href="newsandevents">News&Event</a></li>
                 <li><a href="new">Voluntary</a></li>
                 <li><a href="stories">Succesful Stories</a></li>
                </ul>
             </li> 
              <li><%= link_to "Contact", contact_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
