<!DOCTYPE html>
<html>
<head>
  <title>Empowerement Program For Young Africans | <%= yield(:title) %></title>
  

      
     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>




   <script type="text/javascript" src="jquery.js"></script>

<script type="text/javascript">
$(function(){
  // hide all links except for the first
  $('ul.child:not(:first)').hide();
  $("a.slide:first").css("background-color","#FF9900");
  // for image
  // $("a.slide:first").css("background-image","url('path')");
  
  $('ul.parent a.slide').click(function(){
    $('ul.parent a.slide').css("background-color","#3399FF");
    
    $('ul.parent a.slide').hover(function(){
      $(this).css("background-color","#66CC66");
    });

    $('ul.parent a.slide').mouseout(function(){
      $(this).css("background-color","#3399FF");
    });

    $(this).mouseout(function(){
      $(this).css("background-color","#FF9900");
    });
    
    $(this).css("background-color","#FF9900");

  
    // slide all up
    $('ul.child').slideUp('slow');
    
    // show the links of current heading
    $(this).next().find('a').show();
    
    // slide down current heading
    $(this).next().slideDown('fast');

    // prevent default action
    return false;
  });
});

</script>



















  <script type="text/javascript">

   /***********************************************
    use this this to make the link appear in the right div
    * Dynamic Ajax Content- © Dynamic Drive DHTML code library (www.dynamicdrive.com)
    * This notice MUST stay intact for legal use
    * Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
    ***********************************************/


    var loadedobjects=""
    var rootdomain="http://"+window.location.hostname

    function ajaxpage(url, containerid){
    var page_request = false
    if (window.XMLHttpRequest) // if Mozilla, Safari etc
    page_request = new XMLHttpRequest()
    else if (window.ActiveXObject){ // if IE
    try {
    page_request = new ActiveXObject("Msxml2.XMLHTTP")
    } 
    catch (e){
    try{
    page_request = new ActiveXObject("Microsoft.XMLHTTP")
    }
    catch (e){}
    }
    }
    else
    return false
    page_request.onreadystatechange=function(){
    loadpage(page_request, containerid)
    }
    page_request.open('GET', url, true)
    page_request.send(null)
    }

    function loadpage(page_request, containerid){
    if (page_request.readyState == 4 && (page_request.status==200 || window.location.href.indexOf("http")==-1))
    document.getElementById(containerid).innerHTML=page_request.responseText
    }

    function loadobjs(){
    if (!document.getElementById)
    return
    for (i=0; i<arguments.length; i++){
    var file=arguments[i]
    var fileref=""
    if (loadedobjects.indexOf(file)==-1){ //Check to see if this object has not already been added to page before proceeding
    if (file.indexOf(".js")!=-1){ //If object is a js file
    fileref=document.createElement('script')
    fileref.setAttribute("type","text/javascript");
    fileref.setAttribute("src", file);
    }
    else if (file.indexOf(".css")!=-1){ //If object is a css file
    fileref=document.createElement("link")
    fileref.setAttribute("rel", "stylesheet");
    fileref.setAttribute("type", "text/css");
    fileref.setAttribute("href", file);
    }
    }
    if (fileref!=""){
    document.getElementsByTagName("head").item(0).appendChild(fileref)
    loadedobjects+=file+" " //Remember this object as being already added to page
    }
    }
    }

</script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

 
<!-- this is used to hide everything but projectbody div
<script>
  $(document).ready(function(){
  $("a").click(function(){
    $('#projectbody').siblings().hide()
  $('#projectbody').parents().siblings().hide()
  });
  });
</script>-->


 <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>

</head>



<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

	<%= render 'layouts/myheader' %>


    <div class="container">
      <%= yield %>
    </div>

	<%= render 'layouts/myfooter' %>
 

  </body>
</html>
